<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>

            <img [src]="logo" id="preview" height="55" alt="Image preview" />
        </div>
        <div>
            <h4 class="logo-text">MedLite</h4>
        </div>
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-back'></i>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a [routerLink]="['/home']">
                <div class="parent-icon"><i class='bx bxs-dashboard'></i>
                </div>
                <div class="menu-title">{{'Dashbord' | i18n:i18nService.currentLanguage}}</div>
            </a>
        </li>
        <li>
            <a class="has-arrow">
                <div class="parent-icon">
                    <i class='bx bx-cog '></i>
                </div>
                <div [routerLink]="['/menu_parametarge']" class="menu-title">{{'Setting' | i18n:i18nService.currentLanguage}}</div>
                <!-- <div class="arrow-icon"><i class='bx bx-chevron-down'></i></div> -->
            </a>
            <ul>
                <li>
                    <a [routerLink]="['/menu_parametarge/nationalite']">
                        <i class='bx bx-map-pin'></i>{{'Nationalité' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li>
                    <a [routerLink]="['/menu_parametarge/ville']">
                        <i class='bx bx-map'></i>{{'Ville' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li> <a [routerLink]="['/menu_parametarge/specialite_cabinet']"><i class='bx bxs-door-open'></i>
                    {{'SpecialiteCabinet' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li> <a [routerLink]="['/menu_parametarge/cabinet']"><i class='bx bxs-door-open'></i>
                    {{'Cabinet' | i18n:i18nService.currentLanguage}}</a>
                </li>

                <li> <a [routerLink]="['/menu_parametarge/responsable_remise']"><i class='bx bx-user'></i>
                    {{'Responsable remise' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li> <a [routerLink]="['/menu_parametarge/societe']"><i class='bx bxs-arch'></i>
                    {{'Societes' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li> <a [routerLink]="['/menu_parametarge/caisse']"><i class='bx bx-list-ul'></i>
                    {{'Caisse' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li> <a [routerLink]="['/menu_parametarge/fournisseur']"><i class='bx bxs-user-badge'></i>
                    {{'Fournisseur' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li> <a [routerLink]="['/menu_parametarge/famille_facturation']"><i class='bx bx-detail'></i>
                    {{'FamilleFacturation' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li> <a [routerLink]="['/menu_parametarge/prestation']"><i class='bx bx-first-aid'></i>
                    {{'Prestation' | i18n:i18nService.currentLanguage}}</a>
                </li>

                <li> <a [routerLink]="['/menu_parametarge/famille_prestation']"><i class='bx bx-food-menu'></i>
                    {{'FamillePrestation' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li> <a [routerLink]="['/menu_parametarge/operation']"><i class='bx bx-health'></i>
                    {{'Operation' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li> <a [routerLink]="['/menu_parametarge/famille_operation']"><i class='bx bx-link'></i>
                    {{'FamilleOperation' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li> <a [routerLink]="['/menu_parametarge/type_operation']"><i class='bx bx-link'></i>
                    {{'TypeOperation' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li> <a [routerLink]="['/menu_parametarge/bloc_operation']"><i class='bx bx-link'></i>
                    {{'BlocOperation' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li> <a [routerLink]="['/menu_parametarge/type_intervenant']"><i class='bx bx-menu-alt-left'></i>
                    {{'TypeIntervenants' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li> <a [routerLink]="['/menu_parametarge/specialite_medecin']"><i class='bx bx-group'></i>
                    {{'SpecialiteMedecin' | i18n:i18nService.currentLanguage}}</a>
                </li>

                <li> <a [routerLink]="['/menu_parametarge/medecin']"><i class='bx bx-group'></i>
                    {{'Medecin' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li> <a [routerLink]="['/menu_parametarge/banque']"><i class='bx bxs-bank'></i>
                    {{'Banques' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li> <a [routerLink]="['/menu_parametarge/mode_reglement']"><i class='bx bx-credit-card'></i>
                    {{'ModeReglement' | i18n:i18nService.currentLanguage}}</a>
                </li>

                <li> <a [routerLink]="['/menu_parametarge/price_list']"><i class='bx bx-file'></i>
                    {{'PriceList' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li> <a [routerLink]="['/menu_parametarge/list_couverture']"><i class='bx bx-shield-quarter'></i>
                    {{'ListCouverture' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li> <a [routerLink]="['/menu_parametarge/convention']"><i class='bx bxl-algolia'></i> 
                        {{'Convention' | i18n:i18nService.currentLanguage}}</a>
                </li>

            </ul>
        </li>

        <li>
            <a class="has-arrow">
                <div class="parent-icon"><i class='bx bx-first-aid'></i>
                </div>
                <div class="menu-title" [routerLink]="['/menu_reception']">{{'Reception' | i18n:i18nService.currentLanguage}}</div>
            </a>
            <ul>
                <li> <a [routerLink]="['/menu_reception/admission']"><i class='bx bx-user-plus'></i>
                    {{'Admission' | i18n:i18nService.currentLanguage}}</a>
                </li>

                <li> <a [routerLink]="['/menu_reception/chambre']"><i class='bx bx-bed'></i>
                    {{'Chambre' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li> <a [routerLink]="['/menu_reception/planning_medecin']"><i class='bx bxs-spreadsheet'></i>
                    {{'PlanningMedcin' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li> <a [routerLink]="['/menu_reception/caisse_reception']"><i class='bx bx-wallet'></i>
                    {{'CaisseReception' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li> <a [routerLink]="['/menu_reception/cloture_session']"><i class='bx bx-lock-alt'></i>
                    {{'ClotureSession' | i18n:i18nService.currentLanguage}}</a>
                </li>
                <li> <a [routerLink]="['/menu_reception/edition_admission']"><i class='bx bxs-report'></i>
                    {{'Edition' | i18n:i18nService.currentLanguage}}</a>
                </li>

            </ul>
        </li>


        <li>
            <a>
                <div class="parent-icon"><i class='bx bx-first-aid'></i>
                </div>
                <div class="menu-title" [routerLink]="['/dossier_medical_opd']">{{'DossierMedical' | i18n:i18nService.currentLanguage}}</div>
            </a>

        </li>







    </ul>
    <!--end navigation-->
</div>


<script>
</script>