<div class="feuille-soin-content">
    <div class="card" *ngIf="NotSelectedPatient">
        <p-toast />
        <h1>Feuille de Soin</h1>
        <!-- Add your Feuille de Soin content here -->
        <p>This is the Feuille de Soin Chose Any Patient.</p>
    </div>

    <div class="card" *ngIf="SelectedPatient">

        <div class="row">


            <div class="col-12 col-lg-12 d-flex">
                <div class="card radius-10 w-100" style="height: 70px;">
                    <div class="card-header">
                    </div>
                    <div class="card-body" style="padding: 5px;">

                        <div class="place-1">
                            <div class="FloatRight">

                                <!-- <p-button label="Toggle" (onClick)="menu.toggle($event)" />
                                <p-tieredMenu #menu [model]="items" [popup]="true" /> -->


                                <p-menubar [model]="items" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-12 col-lg-8 d-flex">
                <div class="card radius-10 w-100" style="height: 255px;">
                    <div class="card-header">

                        <div class="d-flex align-items-center FloatRight" style="    margin-top: 8px;">
                            <div>
                                <h6 class="mb-0">Chief Complaint</h6>
                            </div>
                        </div>
                        <div class="d-flex align-items-center FloatLeft">
                            <div style="display: flex;">
                                <button type="button" style="width: 35px !important;  margin-left:20px  !important " class="Bouton-rechercher btn  btn-default" data-original-title="CheifComplaint" data-toggle="modal" data-target="#ModalAddCheifComplaint" (click)="onOpenModal('CheifComplaint')">
                              
                                    <i class="fa-solid fa-square-plus"
                                        style=" color: #00b500;padding-top: 2px; font-size: 18px;  margin:0px"></i>

                                </button>
                                <button type="button" style="width: 35px !important;  margin-left:20px  !important" class="Bouton-rechercher btn  btn-default" data-original-title="DeleteCheifComplaint" data-toggle="modal" data-target="#ModalDeleteCheifComplaint" (click)="onOpenModal('DeleteCheifComplaint')">
                               
                                    <i class="fa-solid fa-trash-can"
                                        style=" color: #b50000c4;padding-top: 2px; font-size: 18px;  margin:0px"></i>

                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="place-1">
                            <p-scrollPanel [style]="{ width: '100%', height: '150px' }">
                                <form [formGroup]="formGroupLoadComplaint">
                                    <ng-container *ngIf="loading; else chiefComplaint">
                                        <p>Loading...</p>
                                    </ng-container>
                                    <ng-template #chiefComplaint>
                                        <textarea readonly style="width: calc(100% - 0px);" rows="5" cols="20" [value]="dataCheifComplaintAdmission || ''" pInputTextarea formControlName="text"></textarea>
                                    </ng-template>
                                </form>


                            </p-scrollPanel>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 d-flex">
                <div class="card radius-10 w-100" style="height: 255px;">
                    <div class="card-header">


                        <div class="d-flex align-items-center FloatRight" style="    margin-top: 8px;">
                            <div>
                                <h6 class="mb-0"> Allergy</h6>
                            </div>
                        </div>


                        <div class="d-flex align-items-center FloatLeft">
                            <div style="display: flex;">
                                <button type="button" style="width: 35px !important;  margin-left:20px  !important " class="Bouton-rechercher btn  btn-default" data-original-title="Allergy" data-toggle="modal" data-target="#ModalAddAllergy" (click)="onOpenModal('Allergy')">
                              
                                    <i class="fa-solid fa-square-plus"
                                        style=" color: #00b500;padding-top: 2px; font-size: 18px;  margin:0px"></i>

                                </button>
                                <button type="button" style="width: 35px !important;  margin-left:20px  !important" class="Bouton-rechercher btn  btn-default" data-original-title="DeleteAllergy" data-toggle="modal" data-target="#ModalDeleteAllergy" (click)="onOpenModal('DeleteAllergy')">
                               
                                    <i class="fa-solid fa-trash-can"
                                        style=" color: #b50000c4;padding-top: 2px; font-size: 18px;  margin:0px"></i>

                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="place-2">
                            <p-scrollPanel [style]="{ width: '100%', height: '150px' }">

                                <form [formGroup]="formGroupAddAllergy">
                                    <ng-container *ngIf="loading; else allergy">
                                        <p>Loading...</p>
                                    </ng-container>
                                    <ng-template #allergy>
                                        <textarea readonly style="width: calc(100% - 0px);" rows="5" cols="20" [value]="dataAllergyAdmission || ''" pInputTextarea formControlName="text"></textarea>
                                    </ng-template>
                                </form>



                            </p-scrollPanel>

                        </div>
                    </div>
                    <ul class="list-group list-group-flush">

                    </ul>
                </div>
            </div>


            <div class="col-12 col-lg-8 d-flex">
                <div class="card radius-10 w-100" style="height: 255px;">
                    <div class="card-header">
                        <div class="d-flex align-items-center FloatRight" style="    margin-top: 8px;">
                            <div>
                                <h6 class="mb-0">Diagnosis</h6>
                            </div>
                        </div>


                        <div class="d-flex align-items-center FloatLeft">
                            <div style="display: flex;">
                                <button type="button" style="width: 35px !important;  margin-left:20px  !important " class="Bouton-rechercher btn  btn-default" data-original-title="Diagnosis" data-toggle="modal" data-target="#ModalAddDiagnosis" (click)="onOpenModal('Diagnosis')">
                              
                                    <i class="fa-solid fa-square-plus"
                                        style=" color: #00b500;padding-top: 2px; font-size: 18px;  margin:0px"></i>

                                </button>
                                <button type="button" style="width: 35px !important;  margin-left:20px  !important" class="Bouton-rechercher btn  btn-default" data-original-title="DeleteDiagnosis" data-toggle="modal" data-target="#ModalDeleteDiagnosis" (click)="onOpenModal('DeleteDiagnosis')">
                               
                                    <i class="fa-solid fa-trash-can"
                                        style=" color: #b50000c4;padding-top: 2px; font-size: 18px;  margin:0px"></i>

                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="place-1">
                            <!-- <p-scrollPanel [style]="{ width: '100%', height: '150px' }">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                    sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
                                </p>
                                <p class="m-0">
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia
                                    animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                                </p>


                            </p-scrollPanel> -->

                            <p-scrollPanel [style]="{ width: '100%', height: '150px' }">
                                <form [formGroup]="formGroupLoadComplaint">
                                    <ng-container *ngIf="loading; else diagnosis">
                                        <p>Loading...</p>
                                    </ng-container>
                                    <ng-template #diagnosis>
                                        <textarea readonly style="width: calc(100% - 0px);" rows="5" cols="20" [value]="dataDiagnosisAdmission || ''" pInputTextarea formControlName="text"></textarea>
                                    </ng-template>
                                </form>


                            </p-scrollPanel>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-3 row-cols-xl-3 g-0 row-group text-center border-top">

                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 d-flex">
                <div class="card radius-10 w-100" style="height: 255px;">


                    <div class="card-header">


                        <div class="d-flex align-items-center FloatRight" style="    margin-top: 8px;">
                            <div>
                                <h6 class="mb-0">Past history</h6>
                            </div>
                        </div>


                        <div class="d-flex align-items-center FloatLeft">
                            <div>
                                <div style="display: flex;">
                                    <button type="button" style="width: 35px !important;  margin-left:20px  !important " class="Bouton-rechercher btn  btn-default" data-original-title="AddHistory" data-toggle="modal" data-target="#ModalAddHistory" (click)="onOpenModal('History')">
                                  
                                        <i class="fa-solid fa-square-plus"
                                            style=" color: #00b500;padding-top: 2px; font-size: 18px;  margin:0px"></i>
    
                                    </button>
                                    <button type="button" style="width: 35px !important;  margin-left:20px  !important" class="Bouton-rechercher btn  btn-default" data-original-title="DeleteHistory" data-toggle="modal" data-target="#ModalAddHistory" (click)="onOpenModal('DeleteHistory')">
                                   
                                        <i class="fa-solid fa-trash-can"
                                            style=" color: #b50000c4;padding-top: 2px; font-size: 18px;  margin:0px"></i>
    
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card-body">
                        <div class="place-2">
                            <p-scrollPanel [style]="{ width: '100%', height: '150px' }">
                                <form [formGroup]="formGroupLoadHistory">
                                    <ng-container *ngIf="loading; else pastHistory">
                                        <p>Loading...</p>
                                    </ng-container>
                                    <ng-template #pastHistory>
                                        <textarea readonly style="width: calc(100% - 0px);" rows="5" cols="20" [value]="dataHistoryAdmission || ''" pInputTextarea formControlName="text"></textarea>
                                    </ng-template>
                                </form>


                            </p-scrollPanel>

                        </div>
                    </div>
                    <ul class="list-group list-group-flush">

                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- modal Cheif Compalint-->
<p-dialog id="ModalAddCheifComplaint" data-backdrop="false" header="Header" [(visible)]="visibleModalCheifComplaint" styleClass="ModalCheifComplaint" [modal]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <div class="FloatRight">
            <h2 class="text-default headerForm"> Add Cheif Complaint </h2>
        </div>
        <div class="FloatLeft">
            <button class="btn btn-default save-add-ModalSmall" (click)="PostCheifComplaint()">
                <i class="fa-solid fa-circle-check IconBtnModal" style="color: #065c00;font-size: 16px; "></i>
                Save
            </button>
            <button class="btn btn-default cancel-add-ModalSmall" :closable="true" data-dismiss="modal" (click)="clearFormCheifComplaint()">
                <i class="fa-solid fa-circle-xmark IconBtnModal" style="color: #9e0000;font-size: 16px;"></i>
                Close
            </button>
        </div>


    </ng-template>
    <div class="modal-body">
        <div class="flex-row-start flex-12">
            <p-panel header="Cheif Complaint">
                <form [formGroup]="formGroupAddComplaint">
                    <textarea rows="5" cols="20" [(ngModel)]="cheifComplaint" pInputTextarea formControlName="text">
                    </textarea>
                </form>

            </p-panel>

        </div>
    </div>
</p-dialog>



<p-dialog class="modal-delete" id="ModalDeleteCheifComplaint" data-backdrop="false" header="Header" [(visible)]="visibleModalDeleteCheifComplaint" styleClass="ModalDelete" [modal]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <h2 class="text-default headerForm"> Delete Cheif Complaint </h2>
    </ng-template>
    <div class="modal-body">

        <fieldset class="deleteForms">
            <h4 class="text-delete " style="display: contents;">
                <div class=" FloatLeft " style="float: left !important;">
                    <h2 class="text-default"> Are you sure you want to delete this Complaint ? </h2>
                </div>

                <div class="FloatRight" style="float: right !important;">

                    <button class="btn btn-default save-add-ModalSmall" (click)="RemoveCheifComplaint()"> 
                            <i class="fa-solid fa-circle-check IconBtnModal" style="color: #065c00;font-size: 16px; "></i>
                            Save  
                        </button>


                    <button class="btn btn-default cancel-add-ModalSmall" :closable="true" data-dismiss="modal" (click)="CloseModalConfirmationDeleteCheifComplaint()"> 
                            <i class="fa-solid fa-circle-xmark IconBtnModal" style="color: #9e0000;font-size: 16px;"></i> 
                         Close 
                        </button>



                </div>





            </h4>
        </fieldset>
        <br>

    </div>
</p-dialog>
<!-- fin Cheif Complaint  -->




<!-- modal History  -->


<p-dialog id="ModalHistory" data-backdrop="false" header="Header" [(visible)]="visbileModalHistory" styleClass="ModalHistory" [modal]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <div class="FloatRight">
            <h2 class="text-default headerForm"> Add Past History </h2>
        </div>
        <div class="FloatLeft">
            <button class="btn btn-default save-add-ModalSmall" (click)="PostHistory()">
                <i class="fa-solid fa-circle-check IconBtnModal" style="color: #065c00;font-size: 16px; "></i>
                Save
            </button>
            <button class="btn btn-default cancel-add-ModalSmall" :closable="true" data-dismiss="modal" (click)="clearFormHistory()">
                <i class="fa-solid fa-circle-xmark IconBtnModal" style="color: #9e0000;font-size: 16px;"></i>
                Close
            </button>
        </div>


    </ng-template>
    <div class="modal-body">
        <div class="flex-row-start flex-12">
            <div class="flex-row-start flex-12">

                <p-panel header="Past History">
                    <form [formGroup]="formGroupAddHistory">
                        <textarea rows="5" cols="10" [(ngModel)]="history" pInputTextarea formControlName="text">
                        </textarea>
                    </form>
                </p-panel>

            </div>





        </div>
    </div>
</p-dialog>



<p-dialog class="modal-delete" id="ModalDeleteHistory" data-backdrop="false" header="Header" [(visible)]="visibleModalDeleteHistory" styleClass="ModalDelete" [modal]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <h2 class="text-default headerForm"> Delete History </h2>
    </ng-template>
    <div class="modal-body">

        <fieldset class="deleteForms">
            <h4 class="text-delete " style="display: contents;">
                <div class=" FloatLeft " style="float: left !important; padding-left: 20px">
                    <h2 class="text-default"> Are you sure you want to delete this History ? </h2>
                </div>

                <div class="FloatRight" style="float: right !important;">

                    <button class="btn btn-default save-add-ModalSmall" (click)="RemoveHistory()"> 
                            <i class="fa-solid fa-circle-check IconBtnModal" style="color: #065c00;font-size: 16px; "></i>
                            Save  
                        </button>


                    <button class="btn btn-default cancel-add-ModalSmall" :closable="true" data-dismiss="modal" (click)="CloseModalConfirmationDeleteHistory()"> 
                            <i class="fa-solid fa-circle-xmark IconBtnModal" style="color: #9e0000;font-size: 16px;"></i> 
                         Close 
                        </button>



                </div>





            </h4>
        </fieldset>
        <br>

    </div>
</p-dialog>


<!-- fin modal History  -->



<!-- modal Allergy  -->


<p-dialog id="ModalAllergy" data-backdrop="false" header="Header" [(visible)]="visbileModalAllergy" styleClass="ModalAllergy" [modal]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <div class="FloatRight">
            <h2 class="text-default headerForm"> Add Allergy </h2>
        </div>
        <div class="FloatLeft">
            <button class="btn btn-default save-add-ModalSmall" (click)="PostAllergy()">
                <i class="fa-solid fa-circle-check IconBtnModal" style="color: #065c00;font-size: 16px; "></i>
                Save
            </button>
            <button class="btn btn-default cancel-add-ModalSmall" :closable="true" data-dismiss="modal" (click)="clearFormAllergy()">
                <i class="fa-solid fa-circle-xmark IconBtnModal" style="color: #9e0000;font-size: 16px;"></i>
                Close
            </button>
        </div>


    </ng-template>
    <div class="modal-body">
        <div class="flex-row-start flex-12">


            <div class="flex-row-start flex-12">

                <p-panel header="Allergy">
                    <form [formGroup]="formGroupAddAllergy">
                        <textarea rows="5" cols="10" [(ngModel)]="allergy" pInputTextarea formControlName="text">
                </textarea>
                    </form>
                </p-panel>

            </div>



        </div>
    </div>
</p-dialog>



<p-dialog class="modal-delete" id="ModalDeleteAllergy" data-backdrop="false" header="Header" [(visible)]="visibleModalDeleteAllergy" styleClass="ModalDelete" [modal]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <h2 class="text-default headerForm"> Delete Allergy </h2>
    </ng-template>
    <div class="modal-body">

        <fieldset class="deleteForms">
            <h4 class="text-delete " style="display: contents;">
                <div class=" FloatLeft " style="float: left !important; padding-left: 20px">
                    <h2 class="text-default"> Are you sure you want to delete this Allergy ? </h2>
                </div>

                <div class="FloatRight" style="float: right !important;">

                    <button class="btn btn-default save-add-ModalSmall" (click)="RemoveAllergy()"> 
                            <i class="fa-solid fa-circle-check IconBtnModal" style="color: #065c00;font-size: 16px; "></i>
                            Save  
                        </button>


                    <button class="btn btn-default cancel-add-ModalSmall" :closable="true" data-dismiss="modal" (click)="CloseModalConfirmationDeleteAllergy()"> 
                            <i class="fa-solid fa-circle-xmark IconBtnModal" style="color: #9e0000;font-size: 16px;"></i> 
                         Close 
                        </button>



                </div>





            </h4>
        </fieldset>
        <br>

    </div>
</p-dialog>



<!-- fin modal History  -->




<!-- modal Diagnosis  -->

<p-dialog id="ModalDiagnosis" data-backdrop="false" header="Header" [(visible)]="visibleModalDiagnosis" styleClass="ModalDiagnosis" [modal]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <div class="FloatRight">
            <h2 class="text-default headerForm"> Add Diagnosis </h2>
        </div>
        <div class="FloatLeft">
            <button class="btn btn-default save-add-ModalSmall" (click)="PostDiagnosis()">
                <i class="fa-solid fa-circle-check IconBtnModal" style="color: #065c00;font-size: 16px; "></i>
                Save
            </button>
            <button class="btn btn-default cancel-add-ModalSmall" :closable="true" data-dismiss="modal" (click)="clearFormDiagnosis()">
                <i class="fa-solid fa-circle-xmark IconBtnModal" style="color: #9e0000;font-size: 16px;"></i>
                Close
            </button>
        </div>


    </ng-template>
    <div class="modal-body">
        <div class="flex-row-start flex-12">
            <form [formGroup]="formGroupAddDignosis">
                <textarea rows="5" cols="20" [(ngModel)]="dignosis" pInputTextarea formControlName="text">
                </textarea>
            </form>
        </div>
    </div>
</p-dialog>



<p-dialog class="modal-delete" id="ModalDeleteDiagnosis" data-backdrop="false" header="Header" [(visible)]="visibleModalDeleteDiagnosis" styleClass="ModalDelete" [modal]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <h2 class="text-default headerForm"> Delete Diagnosis </h2>
    </ng-template>
    <div class="modal-body">

        <fieldset class="deleteForms">
            <h4 class="text-delete " style="display: contents;">
                <div class=" FloatLeft " style="float: left !important; padding-left: 20px">
                    <h2 class="text-default"> Are you sure you want to delete this Diagnosis ? </h2>
                </div>

                <div class="FloatRight" style="float: right !important;">

                    <button class="btn btn-default save-add-ModalSmall" (click)="RemoveDiagnosis()"> 
                            <i class="fa-solid fa-circle-check IconBtnModal" style="color: #065c00;font-size: 16px; "></i>
                            Save  
                        </button>


                    <button class="btn btn-default cancel-add-ModalSmall" :closable="true" data-dismiss="modal" (click)="CloseModalConfirmationDeleteDiagnosis()"> 
                            <i class="fa-solid fa-circle-xmark IconBtnModal" style="color: #9e0000;font-size: 16px;"></i> 
                         Close 
                        </button>



                </div>





            </h4>
        </fieldset>
        <br>

    </div>
</p-dialog>


<!-- fin modal Diagnosis  -->




<!-- History Patient  -->


<p-dialog class="modalHistoryPatient" id="ModalHistoryPatient" data-backdrop="false" header="Header" [(visible)]="visibleModalHistoryPatient" styleClass="ModalHistoryPatient" [modal]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <!-- <h2 class="text-default headerForm"> History Patient </h2> -->

        <div class=" FloatLeft " style="float: left !important; padding-left: 20px">
            <h2 class="text-default headerForm "> History Patient </h2>
        </div>

        <div class="FloatRight" style="float: right !important;">

            <button class="btn btn-default cancel-add-ModalSmall" :closable="true" data-dismiss="modal" (click)="CloseModalHistoryPatient()"> 
                    <i class="fa-solid fa-circle-xmark IconBtnModal" style="color: #9e0000;font-size: 16px;"></i> 
                 Close 
                </button>



        </div>
    </ng-template>
    <div class="modal-body">

        <div class="flex-row-start flex-12">

            <p-table [paginator]="true" [rows]="10" [rowsPerPageOptions]="[20, 40,80,100]" [showCurrentPageReport]="true" currentPageReportTemplate="{{'Page'  }} {first} {{'To'  }} {last} {{'of'  }} {totalRecords} {{'entiers'  }}" #dt1 [columns]="colsTabAdmissionByCodePatient"
                [value]="dataAdmissionByCodePatient" rowGroupMode="rowspan" groupRowsBy="cabinetDTO.specialiteCabinetDTO.designationLt" [globalFilterFields]="['designationAr', 'designationLt']" selectionMode="single" [metaKeySelection]="false" [(selection)]="SelectedAdmissionByCodePatient"
                (onRowSelect)="onRowSelectFromTabAdmissionByCodePatient($event)" (onRowUnselect)="onRowUnselectFromTabAdmissionByCodePatient($event)" dataKey="code" [tableStyle]="{'min-width': '52rem', 'width': '100%' , 'padding': '1px 1px 1px 1px'}">




                <ng-template pTemplate="colgroup" let-col>
                    <colgroup>
                        <col *ngFor="let col of col" [style.width]="col.width">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-col>
                    <tr>
                        <th *ngFor="let col of col ; let i = index" pResizableColumn>
                            <span>
                        {{col.header}}
                    </span>
                        </th>
                    </tr>
                    <tr class="filter-row">
                        <th *ngFor="let col of col; let i = index">
                            <p-columnFilter *ngIf="i != 4" [hideOnClear]="true" [showMenu]="false" [showAddButton]="false" [showOperator]="false" [matchMode]="'contains'" [showMatchModes]="false" type={{col.type}} field={{col.field}} placeholder=" " ariaLabel="Filter Country"></p-columnFilter>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-domaine let-rowgroup="rowgroup" let-rowspan="rowspan" let-ri="rowIndex" let-editing="editing">
                    <tr [pSelectableRow]="domaine">
                        <td style="width: 20px;" *ngIf="rowgroup" [attr.rowspan]="rowspan">
                            <span class="font-bold ml-2">{{domaine.cabinetDTO.specialiteCabinetDTO.designationLt}}</span>
                        </td>
                        <td style="font-size: 15px !important;">{{domaine.codeSaisie }}</td>
                        <td style="font-size: 15px !important;">{{domaine.dateCreate | date : "dd/MM/yyyy" }}</td>
                        <td style="font-size: 15px !important;">{{domaine.medecinDTO.nomIntervLt}}</td>
                        <!-- <td style="font-size: 15px !important;">{{domaine.designationAr}}</td> -->
                        <td> <button *ngIf="!editing" pButton type="button" pDeleteEditableRow icon="pi pi-eye" class="p-button-item-eye " data-original-title="DetailsAdmission" data-toggle="modal" data-target="#ModalDetailsAdmission" (click)="onOpenModal('DetailsAdmission') "></button>
                        </td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6"> No Data To Load </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>

    </div>
</p-dialog>



<!-- /////// DetailsAdmission  -->

<!-- History Patient  -->


<p-dialog class="modalDetailsAdmission" id="ModalDetailsAdmission" data-backdrop="false" header="Header" [(visible)]="visibleModalDetailsAdmission" styleClass="ModalDetailsAdmission" [modal]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <!-- <h2 class="text-default headerForm"> History Patient </h2> -->

        <div class=" FloatLeft " style="float: left !important; padding-left: 20px">
            <h2 class="text-default headerForm "> Details Admission</h2>
        </div>

        <div class="FloatRight" style="float: right !important;">

            <button class="btn btn-default cancel-add-ModalSmall" :closable="true" data-dismiss="modal" (click)="CloseModalDetailsAdmission()"> 
                    <i class="fa-solid fa-circle-xmark IconBtnModal" style="color: #9e0000;font-size: 16px;"></i> 
                 Close 
                </button>



        </div>
    </ng-template>
    <div class="modal-body">

        <div class="flex-row-start flex-12">


        </div>

    </div>
</p-dialog>