<body class="card" [ngClass]="{ 'disabled': IsLoading }">
    <app-loading [IsLoading]="IsLoading">
    </app-loading>
    <header>

        <label class="header_name">{{'FamilleFacturation' | i18n:i18nService.currentLanguage}} </label>
        <button class="close-button btn btn-default" (click)="closeThisComponent()">X</button>
    </header>
    <!-- <aside>
        <div class="Groupe-Bouton"> 
        </div>
    </aside> -->
    <section id="main-container">
        <div class="material-table">
            <div class="card">
                <p-table #dt1 [columns]="cols" [value]="dataBanque" [globalFilterFields]="['designationAr', 'designationLt']" selectionMode="single" [metaKeySelection]="false" [(selection)]="selectedBanque" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
                    dataKey="code" [tableStyle]="{'min-width': '50rem', 'width': '100%' , 'padding': '1px 1px 1px 1px'}">
                    <ng-template pTemplate="caption" class="col-md-12">
                        <div>
                            <div class="flex-row-start FloatRight">
                                <label class="control-label-titer flex-6">{{'Designation' | i18n:i18nService.currentLanguage}} :</label>
                                <span class="p-input-icon-left ml-auto flex-6">
                                    <input pInputText class="recherche-value" [(ngModel)]="searchTerm"
                                        name="zone-recherche" type="text"
                                        (keyup.enter)="dt1.filterGlobal($any($event.target).value, 'contains')"
                                        placeholder=" . . ." />
                                </span>
                                <button type="button" class="Bouton-rechercher btn  btn-default " data-original-title="Add" (click)="dt1.filterGlobal($any($event.target).value, 'contains')">
                                    <div class="bouton_style-2" >{{'Search' | i18n:i18nService.currentLanguage}}</div>
                                    <i class="fa-solid fa-magnifying-glass search-icon"
                                        style="font-size: 18px ;padding-top:2px ;"></i>
                                </button>
                                <button type="button" class="Bouton-rechercher btn  btn-default " data-original-title="Add" (click)="clear(dt1)" (click)="GelAllBanque()">
                                    <div class="bouton_style-2">{{'Reinitialiser' | i18n:i18nService.currentLanguage}}</div>
                                    <i class="fa-solid fa-arrows-rotate search-icon"
                                        style=" padding-top: 2px; font-size: 18px;"></i>
                                </button>
                            </div>
                            <div class="flex-row-start flex-8 FloatLeft">
                                <button data-backdrop="false" type="button" class="Bouton-add-new1 btn  btn-default " data-original-title="Add" data-toggle="modal" data-target="#Modal" (click)="onOpenModal('add')">
                                    <div class="bouton_style-2"> {{'Add' | i18n:i18nService.currentLanguage}}</div>
                                    <i class="fa-solid fa-plus add-icon"
                                         ></i>
                                </button>
                                <button data-backdrop="false" type="button" class="Bouton-add-new1 btn  btn-default " data-original-title="Add" data-toggle="modal" data-target="#Modal" (click)="onOpenModal('edit')">
                                    <div class="bouton_style-2">{{'Modifier' | i18n:i18nService.currentLanguage}}</div>
                                    <i class="fa-solid fa-pen modif-icon"
                                        ></i>
                                </button>
                                <button type="button" class="Bouton-add-new2 btn  btn-default " data-original-title="Delete" data-toggle="modal" data-target="#ModalDelete" (click)="onOpenModal('Delete')">
                                    <div class="bouton_style-2">{{'Delete' | i18n:i18nService.currentLanguage}}</div>
                                    <i class="fa-solid fa-trash-can delete-icon"></i>
                                </button>
                                <button data-backdrop="false" type="button" class="Bouton-add-new2 btn btn-default " data-original-title="Print" data-toggle="modal" data-target="#ModalPrint" (click)="onOpenModal('Print')">
                                    <div class="bouton_style-2">{{'Print' | i18n:i18nService.currentLanguage}}</div>
                                    <i class="fa-solid fa-print print-icon"></i>
                                </button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="colgroup" let-col>
                        <colgroup>
                            <col *ngFor="let col of col" [style.width]="col.width">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header" let-col>
                        <tr>
                            <th *ngFor="let col of col ; let i = index" pResizableColumn>
                                <span>
                                    {{col.header}}
                                </span>
                            </th>
                        </tr>
                        <tr class="filter-row">
                            <th *ngFor="let col of col">
                                <p-columnFilter [hideOnClear]="true" [showMenu]="false" [showAddButton]="false" [showOperator]="false" [matchMode]="'contains'" [showMatchModes]="false" type="text" field={{col.field}} placeholder=" " ariaLabel="Filter Country"></p-columnFilter>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-domaine>
                        <tr [pSelectableRow]="domaine">
                            <td style="font-size: 15px !important;">{{domaine.codeSaisie}}</td>
                            <td style="font-size: 15px !important;">{{domaine.designationAr}}</td>
                            <td style="font-size: 15px !important;">{{domaine.designationLt}}</td>
                            <td class="act-col">
                                <p-checkbox [readonly]="true" [(ngModel)]="domaine.actif" [binary]="true" inputId="binary">{{domaine.actif}}</p-checkbox>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="4">
                                {{'NoItemExist' | i18n:i18nService.currentLanguage}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </section>
    <!-- <aside>aside</aside> -->
    <footer>

    </footer>
</body>






<!-- modal primeNG ADD -->
<p-dialog id="Modal" header="Header" [scrollLeft]="true" #modal [closeOnEscape]="true" [(visible)]="visibleModal" data-backdrop="false" [modal]="true" styleClass="ModalAdd" [draggable]="false">


    <ng-template pTemplate="header">
        <h2 class="text-default headerForm"> {{formHeader}}</h2>
        <button class="btn btn-default cancel-add-ModalSmall" :closable="true" data-dismiss="modal" (click)="clearForm()"> 
            <i class="fa-solid fa-circle-xmark IconBtnModal" style="color: #9e0000;font-size: 16px;"></i> 
            {{'Close' | i18n:i18nService.currentLanguage}}
        </button>
        <button class="btn btn-default save-add-ModalSmall" (click)="PostBanque()"> 
            <i class="fa-solid fa-circle-check IconBtnModal" style="color: #065c00;font-size: 16px; "></i>
            {{'Save' | i18n:i18nService.currentLanguage}}
        </button>
    </ng-template>

    <div class="modal-body">


        <div class="flex-row-start flex-12">
            <fieldset class="flex-12">
                <div class="flex-row-start flex-12">
                    <section class="flex-row-start flex-6">
                        <label class="control-label  flex-4" style="width: 25%; "> {{'CodeSaisie' | i18n:i18nService.currentLanguage}} : <i
                                class="fa-lg fa-fw fa fa-times iconRequired"></i></label>
                        <div class="control-input flex-5-45 ">
                            <input id="codeSaisie" maxlength="10" name="codeSaisie" type="text" class=" form-control-dev input-xs" #codeSaisieInput required [(ngModel)]="codeSaisie">

                        </div>
                    </section>
                    <section class="flex-row-start flex-6 ">
                        <p-checkbox [binary]="true" name="actif" [(ngModel)]="actif" value="val3" [label]="LabelActif"></p-checkbox>
                    </section>
                </div>
                <div class="flex-row-start flex-12">
                    <section class="flex-row-start flex-6">
                        <label class="control-label flex-4 ">{{'DesignationAr' | i18n:i18nService.currentLanguage}} : <i
                                class="fa-lg fa-fw fa fa-times iconRequired"></i></label>
                        <div class="control-input flex-5-45">
                            <input type="text" id="designation_ar" maxlength="200" name="designation_ar" class=" form-control-dev input-xs" #designationArInput required [(ngModel)]="designationAr">
                        </div>
                    </section>
                    <section class="flex-row-start flex-6">
                        <label class="control-label  flex-4  "> {{'DesignationLt' | i18n:i18nService.currentLanguage}} : <i
                                class="fa-lg fa-fw fa fa-times iconRequired"></i></label>
                        <div class="control-input flex-5-45 ">
                            <input type="text" id="designation_lt" maxlength="200" name="designation_lt" class=" form-control-dev input-xs" #designationLtInput required [(ngModel)]="designationLt">


                        </div>
                    </section>

                </div>




            </fieldset>

        </div>




    </div>

</p-dialog>

<!-- modal primeNG  Delete-->
<p-dialog class="modal-delete" id="ModalDelete" data-backdrop="false" header="Header" [(visible)]="visDelete" styleClass="ModalDelete" [modal]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <h2 class="text-default headerForm"> {{formHeader}}</h2>
    </ng-template>
    <div class="modal-body">
        <form action="" #addForms="ngForm">
            <fieldset class="deleteForms">
                <h4 class="text-delete ">هل أنت متأكد من الحذف ?

                    <button class="btn btn-default save-add-ModalSmall" style="right: 430px;" (click)="DeleteBanque(code)"> <i class="fa-solid fa-circle-check" style="color: #065c00;font-size: 16px; padding-right: 10px;"></i>
                        حذف
                    </button>
                    <button class="btn btn-default cancel-add-ModalSmall" style="right: 520px;" :closable="true" data-dismiss="modal"> <i class="fa-solid fa-circle-xmark" style="color: #9e0000;font-size: 16px; padding-right: 5px;"></i>خروج
                    </button>



                </h4>
            </fieldset>
            <br>
        </form>
    </div>
</p-dialog>
<!-- fin modal primeng  -->





<!-- modal primeNG Print -->
<p-dialog id="ModalPrint" header="Header" [scrollLeft]="true" [closeOnEscape]="true" [(visible)]="visibleModalPrint" data-backdrop="false" [modal]="true" styleClass="ModalPrint" [draggable]="false">


    <ng-template pTemplate="header">
        <h2 class="text-default headerForm"> {{formHeader}}</h2>
        <button style="right: 995px;" class="btn btn-default cancel-add-ModalSmall" :closable="true" data-dismiss="modal" (click)="clearForm() ; CloseModalPrint()"> <i
                class="fa-solid fa-circle-xmark" style="color: #9e0000;font-size: 16px; padding-right: 5px;"></i>خروج
        </button>

    </ng-template>
    <div class="modal-body">
        <div id="pdfContainer"></div>
    </div>

</p-dialog>