<body class="card" [ngClass]="{ 'disabled': IsLoading }">
    <app-loading [IsLoading]="IsLoading">
    </app-loading>
    <header>

        <label class="header_name">{{'Reception' | i18n:i18nService.currentLanguage}} </label>
        <button class="close-button btn btn-default" (click)="closeThisComponent()">X</button>
    </header>
    <aside>
        <div class="Groupe-Bouton">
            <div class="flex-row-around">
                <button data-backdrop="false" type="button" class="Bouton_new3 btn btn-labeled btn-default " data-original-title="RecherPatient" data-toggle="modal" data-target="#ModalRercherPatient" (click)="OpenModalRercherPatient('RercherPatient')">
                    <span class="label-btn">
                        <i class="fa-solid fa-file-invoice-dollar iconADD2"></i>
                    </span>
                    <div class="bouton_style-2"> {{'Add' | i18n:i18nService.currentLanguage}} </div>

                </button>
            </div>
            <div class="flex-row-around">
                <button *ngIf="VisModif" [disabled]="DisModif" type="button" class="Bouton_new3 btn btn-labeled btn-default " data-original-title="Edit" data-toggle="modal" data-target="#Modal" (click)="onOpenModalX('edit')">

                    <!-- <i class="fa fa-pencil-square-o icon_modif" aria-hidden="true"></i> -->
                    <i class='bx bx-edit-alt iconModif'></i>
                    <div class="bouton_style-2">{{'Modifier' | i18n:i18nService.currentLanguage}} </div>
                </button>




            </div>
            <div class="flex-row-around">
                <button *ngIf="VisVoir" type="button" class="Bouton_new3 btn btn-labeled btn-default " data-original-title="Edit" data-toggle="modal" data-target="#Modal" (click)="onOpenModalX('voir')">

                    <i class='bx bx-show-alt iconModif'></i>
                    <div class="bouton_style-2"> {{'Voir' | i18n:i18nService.currentLanguage}} </div>
                </button>

            </div>



            <div class="flex-row-around">
                <button *ngIf="VisBtnDelete" type="button" class="Bouton_new3 btn btn-labeled btn-default " data-original-title="Edit" data-toggle="modal" data-target="#Modal" (click)="onOpenModalX('voir')">
                    <i class='bx bxs-trash IconDel'></i>
                    <div class="bouton_style-2"> {{'Delete' | i18n:i18nService.currentLanguage}} </div>
                </button>


            </div>



        </div>
    </aside>
    <section id="main-container">

        <div class="material-table">
            <div class="card">
                <p-table #dt1 [columns]="cols" [value]="dataBanque" [globalFilterFields]="['designationAr', 'designationLt']" selectionMode="single" [metaKeySelection]="false" [(selection)]="selectedBanque" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
                    dataKey="code" [tableStyle]="{'min-width': '50rem', 'width': '100%' , 'padding': '1px 1px 1px 1px'}">

                    <ng-template pTemplate="caption" class="col-md-12">

                        <div>
                            <div class="flex-row-start FloatRight">

                                <label class="control-label-titer flex-6">{{'Designation' |
                                    i18n:i18nService.currentLanguage}} :</label>
                                <span class="p-input-icon-left ml-auto flex-6">
                                    <input pInputText class="recherche-value" [(ngModel)]="searchTerm"
                                        name="zone-recherche" type="text"
                                        (keyup.enter)="dt1.filterGlobal($any($event.target).value, 'contains')"
                                        placeholder=" . . ." />
                                </span>
                                <button type="button" class="Bouton-rechercher btn  btn-default " data-original-title="Add" (click)="dt1.filterGlobal($any($event.target).value, 'contains')">
                                    <div class="bouton_style-2">{{'Search' | i18n:i18nService.currentLanguage}}</div>
                                    <i class="fa-solid fa-magnifying-glass search-icon"
                                        style="font-size: 18px ;padding-top:2px ;"></i>
                                </button>
                                <button type="button" class="Bouton-rechercher btn  btn-default " data-original-title="Add" (click)="clear(dt1)" (click)="GelAllBanque()">
                                    <div class="bouton_style-2">{{'Reinitialiser' | i18n:i18nService.currentLanguage}}
                                    </div>
                                    <i class="fa-solid fa-arrows-rotate search-icon"
                                        style=" padding-top: 2px; font-size: 18px;"></i>
                                </button>
                            </div>

                            <!-- <div class="flex-row-start flex-8 FloatLeft">
                                <button data-backdrop="false" type="button" class="Bouton-add-new1 btn  btn-default " data-original-title="Add" data-toggle="modal" data-target="#Modal" (click)="onOpenModal('add')">
                                    <div class="bouton_style-2"> {{'Add' | i18n:i18nService.currentLanguage}}</div>
                                    <i class="fa-solid fa-plus add-icon"
                                         ></i>
                                </button>
                                <button data-backdrop="false" type="button" class="Bouton-add-new1 btn  btn-default " data-original-title="Add" data-toggle="modal" data-target="#Modal" (click)="onOpenModal('edit')">
                                    <div class="bouton_style-2">{{'Modifier' | i18n:i18nService.currentLanguage}}</div>
                                    <i class="fa-solid fa-pen modif-icon"
                                        ></i>
                                </button>
                                <button type="button" class="Bouton-add-new2 btn  btn-default " data-original-title="Delete" data-toggle="modal" data-target="#ModalDelete" (click)="onOpenModal('Delete')">
                                    <div class="bouton_style-2">{{'Delete' | i18n:i18nService.currentLanguage}}</div>
                                    <i class="fa-solid fa-trash-can delete-icon"></i>
                                </button>
                                <button data-backdrop="false" type="button" class="Bouton-add-new2 btn btn-default " data-original-title="Print" data-toggle="modal" data-target="#ModalPrint" (click)="onOpenModal('Print')">
                                    <div class="bouton_style-2">{{'Print' | i18n:i18nService.currentLanguage}}</div>
                                    <i class="fa-solid fa-print print-icon"></i>
                                </button>

                            </div> -->



                        </div>




                    </ng-template>



                    <ng-template pTemplate="colgroup" let-col>
                        <colgroup>
                            <col *ngFor="let col of col" [style.width]="col.width">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header" let-col>
                        <tr>
                            <th *ngFor="let col of col ; let i = index" pResizableColumn>
                                <span>
                                    {{col.header}}
                                </span>
                            </th>
                        </tr>
                        <tr class="filter-row">
                            <th *ngFor="let col of col">
                                <p-columnFilter [hideOnClear]="true" [showMenu]="false" [showAddButton]="false" [showOperator]="false" [matchMode]="'contains'" [showMatchModes]="false" type="text" field={{col.field}} placeholder=" " ariaLabel="Filter Country"></p-columnFilter>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-domaine>
                        <tr [pSelectableRow]="domaine">
                            <td style="font-size: 15px !important;">{{domaine.codeSaisie}}</td>
                            <td style="font-size: 15px !important;">{{domaine.designationAr}}</td>
                            <td style="font-size: 15px !important;">{{domaine.designationLt}}</td>
                            <td style="font-size: 15px !important;">{{domaine.rib}}</td>

                            <td class="act-col">

                                <p-checkbox [readonly]="true" [(ngModel)]="domaine.actif" [binary]="true" inputId="binary">{{domaine.actif}}</p-checkbox>
                            </td>
                            <td class="act-col">

                                <p-checkbox [readonly]="true" [(ngModel)]="domaine.visible" [binary]="true" inputId="binary">{{domaine.visible}}</p-checkbox>
                            </td>




                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="4">لا توجد بيانات</td>
                        </tr>
                    </ng-template>

                </p-table>


            </div>
        </div>
    </section>
    <!-- <aside>aside</aside> -->
    <!-- <footer>footer
 
    </footer> -->
</body>






<!-- modal primeNG ADD -->

<p-dialog id="ModalRercherPatient" header="Header" [scrollLeft]="true" #modalRecherchePatient [closeOnEscape]="true" [(visible)]="visibleModalRecherPatient" data-backdrop="false" [modal]="true" styleClass="ModalAddRercherPatient" [draggable]="false">
    <ng-template pTemplate="header">
        <h2 class="text-default headerForm"> {{formHeader}}</h2>
        <button class="btn btn-default BtnCloseAdmissionPatient" :closable="true" data-dismiss="modal" (click)="CloseModalRecherPatient()">
            <i class="fa-solid fa-circle-xmark IconBtnModal" style="color: #9e0000;font-size: 16px;"></i>
            {{'Close' | i18n:i18nService.currentLanguage}}
        </button>

    </ng-template>

    <div class="modal-body">
        <div class="flex-row-start flex-12">
            <fieldset class="flex-12">
                <p-panel [header]="HeaderRecherchePatient">
                    <div class="flex-row-start flex-12">
                        <section class="flex-row-start flex-4">
                            <label class="control-label  flex-4" style="width: 25%; "> {{'NomFullAr' |
                                i18n:i18nService.currentLanguage}} : <i
                                    class="fa-lg fa-fw fa fa-times iconRequired"></i></label>
                            <div class="control-input flex-60">
                                <input (keyup.enter)="dt2.filterGlobal($any($event.target).value, 'contains')" id="NomPatientFullAr" maxlength="10" name="NomPatientFullAr" [(ngModel)]="NomPatientFullArRecherche" type="text" class="onlyForCentral form-control-dev input-xs">

                            </div>
                        </section>
                        <section class="flex-row-start flex-4 ">
                            <label class="control-label flex-4"> {{'DateNaiss' |
                                i18n:i18nService.currentLanguage}} :<i
                                    class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                            <div class="control-input flex-60" style="padding: 0px ; display: flex;">

                                <p-calendar (keyup.enter)="dt2.filterGlobal($any($event.target).value, 'contains') ; transformDateFormatRecherche()" (onInput)="formatInputRecherche($event)" (onBlur)="transformDateFormatRecherche()" (onChange)="transformDateFormatRecherche()" (onSelect)="transformDateFormatRecherche()"
                                    [ngStyle]="{'width':'100%' , 'margin-right': '3px'}" [showButtonBar]="true" [(ngModel)]="dateNaissanceRecherche" [iconDisplay]="'input'" [readonlyInput]="false" [showIcon]="true" inputId="icondisplay" />

                            </div>



                        </section>
                        <section class="flex-row-start flex-4">
                            <label class="control-label  flex-4" style="width: 25%; "> {{'CodeSaisie' |
                                i18n:i18nService.currentLanguage}} 3 : <i
                                    class="fa-lg fa-fw fa fa-times iconRequired"></i></label>
                            <div class="control-input flex-60 ">
                                <input id="codeSaisie" maxlength="10" name="codeSaisie" type="text" class="onlyForCentral form-control-dev input-xs" required="true">

                            </div>
                        </section>

                        <section class="flex-row-start flex-2">
                            <button type="button" class="Bouton_new3Rechercher btn btn-labeled btn-default " data-original-title="Edit" data-toggle="modal" data-target="#Modal" (click)="ReinitialiserSearch()">
                                <i class='bx bx-revision IconReinitialiser'></i>
                                <div class="bouton_style-2"> {{'Reinitialiser' |
                                    i18n:i18nService.currentLanguage}} </div>
                            </button>
                        </section>
                    </div>
                    <div class="flex-row-start flex-12">
                        <section class="flex-row-start flex-4">
                            <label class="control-label  flex-4" style="width: 25%; "> {{'NomFullLt' |
                                i18n:i18nService.currentLanguage}} : <i
                                    class="fa-lg fa-fw fa fa-times iconRequired"></i></label>
                            <div class="control-input flex-60 ">
                                <input (keyup.enter)="dt2.filterGlobal($any($event.target).value, 'contains')" id="NomPatientFullLt" maxlength="10" name="NomPatientFullLt" [(ngModel)]="NomPatientFullLtRecherche" type="text" class="form-control-dev input-xs" required="true">
                            </div>
                        </section>
                        <section class="flex-row-start flex-4 ">
                            <label class="control-label  flex-4" style="width: 25%; "> {{'NumTel' |
                                i18n:i18nService.currentLanguage}} : <i
                                    class="fa-lg fa-fw fa fa-times iconRequired"></i></label>
                            <div class="control-input flex-60 ">
                                <input (keyup.enter)="dt2.filterGlobal($any($event.target).value, 'contains')" id="NumTel" [(ngModel)]="TelPatientRecherche" maxlength="10" name="NumTel" type="number" class="form-control-dev input-xs" required="true">

                            </div>
                        </section>
                        <section class="flex-row-start flex-4 ">
                            <label class="control-label  flex-4" style="width: 25%; "> {{'CodeSaisie' |
                                i18n:i18nService.currentLanguage}} 6 : <i
                                    class="fa-lg fa-fw fa fa-times iconRequired"></i></label>
                            <div class="control-input flex-60 ">
                                <input id="codeSaisie" maxlength="10" name="codeSaisie" type="text" class="onlyForCentral form-control-dev input-xs" required="true">
                            </div>
                        </section>
                        <section class="flex-row-start flex-2 ">
                            <button type="button" class="Bouton_new3Rechercher btn btn-labeled btn-default " data-original-title="Edit" data-toggle="modal" data-target="#Modal" (click)=" dt2.filterGlobal($any($event.target).value, 'contains')">
                                <i class='bx bx-search-alt-2 IconSearch'></i>
                                <div class="bouton_style-2"> {{'Search' |
                                    i18n:i18nService.currentLanguage}} </div>
                            </button>
                        </section>
                    </div>
                </p-panel>
            </fieldset>
        </div>
        <p-panel [header]="HeaderListPatient">
            <div class="flex-row-start flex-12">
                <fieldset class="flex-12">
                    <div class="flex-row-start flex-12">
                        <section class="flex-row-start">
                            <p-table #dt2 [columns]="columnTabsListPatient" [value]="ListPatientTried" selectionMode="single" class="fixed-header-table" [metaKeySelection]="false" (onRowUnselect)="onRowUnselectFromTabsRecherPatient($event)" [(selection)]="SelectedPatientFromList"
                                (onRowSelect)="onRowSelectFromTabsRecherchePatient($event)" dataKey="code" scrollHeight="300px" [tableStyle]="{'min-width': '1082px', 'width': '100%' , 'padding': '1px 1px 1px 1px'}">
                                <ng-template pTemplate="header" let-col>
                                    <tr>
                                        <th *ngFor="let col of col ; let i = index" pResizableColumn>
                                            <span>
                                                {{col.header}}
                                            </span>
                                        </th>
                                    </tr>
                                    <tr style="padding: 0px !important; height: 10px !important;" class="filter-row">
                                        <th *ngFor="let col of col">
                                            <p-columnFilter [hideOnClear]="true" [showMenu]="false" [showAddButton]="false" [showOperator]="false" [matchMode]="'contains'" [showMatchModes]="false" type="text" field={{col.field}} placeholder=" " ariaLabel="Filter By"></p-columnFilter>
                                        </th>
                                    </tr>


                                </ng-template>
                                <ng-template pTemplate="body" let-domaine>
                                    <tr [pSelectableRow]="domaine" [pSelectableRowDisabled]="AraiaDis">

                                        <td style="font-size: 16px !important;">
                                            {{domaine.codePatient}}</td>

                                        <td>{{domaine.NomFullAr}}</td>
                                        <td>{{domaine.NomFullLt}}</td>
                                        <td> {{domaine.TelPatient}}</td>
                                        <td style="font-size: 16px !important;">
                                            {{domaine.DateNais | date : "dd/MM/yyyy" }}</td>
                                    </tr>
                                </ng-template>



                            </p-table>
                        </section>
                    </div>
                    <div class="flex-row-start flex-12 FloatLeft">
                        <button type="button" class="Bouton_new3Rechercher btn btn-labeled btn-default " data-original-title="AddNewPatient" data-toggle="modal" data-target="#ModalAddPatient" (click)="onOpenModalAdmission('addNewPatient')">

                            <i class='bx bx-folder-plus IconSave'></i>
                            <div class="bouton_style-2"> {{'Add' |
                                i18n:i18nService.currentLanguage}} </div>
                        </button>
                        <button type="button" class="Bouton_new3Rechercher btn btn-labeled btn-default " data-original-title="Add" data-toggle="modal" data-target="#Modal" (click)="onOpenModalAdmission('choisir')">
                            <i class="fa-solid fa-circle-check IconSave"></i>
                            <div class="bouton_style-2"> {{'Choisie' |
                                i18n:i18nService.currentLanguage}} </div>
                        </button>
                    </div>
                </fieldset>
            </div>
        </p-panel>





    </div>

</p-dialog>



<!-- modal ajout Admission-->
<p-dialog id="Modal" header="Header" [scrollLeft]="true" [closeOnEscape]="true" [(visible)]="visibleModal" data-backdrop="false" [modal]="true" styleClass="ModalAddFacture" [draggable]="false">


    <ng-template pTemplate="header">
        <div class="FloatRight">
            <h2 class="text-default headerForm"> {{formHeader}}</h2>
        </div>
        <div class="FloatLeft">
            <button class="btn btn-default save-add-ModalSmallXXL" (click)="PostBanque()">
                <i class="fa-solid fa-circle-check IconBtnModal" style="color: #065c00;font-size: 16px; "></i>
                {{'Save' | i18n:i18nService.currentLanguage}}
            </button>
            <button class="btn btn-default cancel-add-ModalSmallXXL" :closable="true" data-dismiss="modal" (click)="clearForm()">
                <i class="fa-solid fa-circle-xmark IconBtnModal" style="color: #9e0000;font-size: 16px;"></i>
                {{'Close' | i18n:i18nService.currentLanguage}}
            </button>

        </div>


    </ng-template>

    <div class="modal-body">
        <div class="flex-row-start flex-12">
            <fieldset class="flex-12">
                <div class="flex-row-start flex-12">
                    <section class="flex-row-start flex-12">
                        <label class="control-label flex-2" style="max-width: 11%; ">رقم الدخول : <i
                                class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                        <div class="control-input flex-5  " style="padding: 5px 0px 0px 0px  ; max-width: 20%;">
                            <input disabled="" readonly style="max-width: 55%;" id="codeSaisie" maxlength="10" name="codeSaisie" type="text" class="onlyForCentral form-control-dev input-xs" #codeInput required [(ngModel)]="codeSaisie">
                        </div>


                    </section>
                </div>
                <div class="flex-row-start flex-12">
                    <section class="block-row flex-5" style="border-radius: 6px; border: none;">
                        <fieldset class="flex-12">
                            <label class="control-label flex-3">الرقم الطبي : <i
                                    class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                            <div class="dop control-input flex-7 " style="padding: 0px 63px 0px 0px; display: flex;">
                                <input disabled readonly id="IDPatient" maxlength="20" name="IDPatient" type="text" class=" form-control-dev input-xs" #IDPatientInput required [(ngModel)]="IDPatient">
                            </div>
                            <br>
                            <label class="control-label flex-3"> {{'NomFullAr' | i18n:i18nService.currentLanguage}} : <i
                                    class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                            <div class="dop control-input flex-7 " style="padding: 0px 63px 0px 0px; display: flex;">
                                <input disabled readonly id="NomPatientFullLt" maxlength="20" name="NomPatientFullAr" type="text" class=" form-control-dev input-xs" #nomArInput required [(ngModel)]="NomFullArAdm">
                            </div>
                            <br>
                            <label class="control-label flex-3">{{'NomFullLt' | i18n:i18nService.currentLanguage}} :<i
                                    class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                            <div class="dop control-input flex-7 " style="padding: 0px 63px 0px 0px; display: flex;">
                                <input disabled readonly id="NomPatientFullLt" maxlength="20" name="NomPatientFullLt" type="text" class=" form-control-dev input-xs" #nomLtInput required [(ngModel)]="NomFullLtAdm">
                            </div>
                            <br>
                            <label class="control-label flex-4">{{'NumTel' | i18n:i18nService.currentLanguage}} :<i
                                    class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                            <div class="dop control-input flex-9 " style="padding: 0px 80px 0px 0px; display: flex;">
                                <input disabled readonly style="max-width: 67%;" id="TelPatient" maxlength="12" name="TelPatient" type="text" class=" form-control-dev input-xs" #TelPatientInput required [(ngModel)]="TelPatientAdm">
                            </div>
                        </fieldset>

                        <br>

                        <fieldset class="flex-12">
                            <label class="control-label flex-4" style="padding-top: 3px;"> {{'SourceDeFinancement' |
                                i18n:i18nService.currentLanguage}} :<i
                                    class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                            <div class="radio-group" style="height: 30px;">
                                <div class="radio-item">
                                    <input type="radio" id="Encours" name="selectedValue" [value]=1 [(ngModel)]="selectedValue" (change)="GetIfNeedSoc()">
                                    <label for="Encours" [class.bold-label]="selectedValue == 1">{{'Cash' |
                                        i18n:i18nService.currentLanguage}} </label>
                                </div>

                                <div class="radio-item">
                                    <input type="radio" id="Valider" name="selectedValue" [value]=2 [(ngModel)]="selectedValue" (change)="GetIfNeedSoc()">
                                    <label for="Valider" [class.bold-label]="selectedValue == 2">{{'PEC' |
                                        i18n:i18nService.currentLanguage}} </label>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset *ngIf="VisiblePEC" class="flex-12" style="display: flex;">
                            <label class="control-label flex-2" style="max-width: 30%;">{{'Societe' |
                                i18n:i18nService.currentLanguage}} : <i
                                    class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                            <div class="dop control-input " style="display: flex;">
                                <p-dropdown name="Soceite" [filter]="true" appendTo="body" (onChange)="GetConventionByCodeSocieteSelected(this.selectedSociete.code)" [options]="ListSocieteRslt" [(ngModel)]="selectedSociete" [style]="{'width':'150px'}" [autoDisplayFirst]="true" placeholder="&nbsp;"
                                    [required]="true" [lazy]="true" #Soceite="ngModel">
                                </p-dropdown>
                            </div>

                            <label class="control-label flex-2" style="max-width: 30%;">{{'Convention' |
                                i18n:i18nService.currentLanguage}} : <i
                                    class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                            <div class="dop control-input " style="display: flex;">
                                <p-dropdown name="Convention" [filter]="true" appendTo="body" (onChange)="GetDetailsConventionSelected()" [options]="ListConventionRslt" [(ngModel)]="selectedConvention" [style]="{'width':'150px'}" [autoDisplayFirst]="true" placeholder="&nbsp;" [required]="true"
                                    [lazy]="true" #Convention="ngModel">
                                </p-dropdown>
                            </div>
                        </fieldset>


                    </section>
                    <section class="flex-row-start flex-8">
                        <fieldset class="flex-12">
                            <div class="flex-row-start flex-12">

                                <label class="control-label flex-6"> {{'ListMedecin' |
                                    i18n:i18nService.currentLanguage}} :<i
                                        class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                            </div>
                            <div class="flex-row-start flex-12" style="overflow-y: auto; height: 220px">
                                <p-table #dt2 [columns]="columnTabsListMedecin" [value]="ListMedecinTried" selectionMode="single" [metaKeySelection]="false" (onRowUnselect)="onRowUnselectFromTabsMedecin($event)" [(selection)]="SelectedMedecinFromList" (onRowSelect)="onRowSelectFromTabsMedecin($event)"
                                    dataKey="code" [scrollable]="false" [tableStyle]="{'min-width': '43rem', 'width': '100%' , 'padding': '1px'}">

                                    <ng-template pTemplate="header" let-col>
                                        <tr>
                                            <th *ngFor="let col of col" pResizableColumn>
                                                <span>{{col.header}}</span>
                                            </th>
                                        </tr>
                                        <tr class="filter-row">
                                            <th *ngFor="let col of col">
                                                <p-columnFilter [hideOnClear]="true" [showMenu]="false" [showAddButton]="false" [showOperator]="false" [matchMode]="'contains'" [showMatchModes]="false" type="text" field={{col.field}} placeholder=" " ariaLabel="Filter Country"></p-columnFilter>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-domaine>
                                        <tr [pSelectableRowDblClick]="domaine" [pSelectableRowDisabled]="AraiaDis">
                                            <td> {{domaine.codeMedecin}}</td>
                                            <td>{{domaine.NomFullArMedecin}}</td>
                                            <td>{{domaine.NomFullLtMedecin}}</td>
                                            <td> {{domaine.specialite_medecin}}</td>
                                            <td> {{domaine.Cabinet}}</td>
                                            <td> {{domaine.montantConsultation}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>

                        </fieldset>



                        <br>
                    </section>
                </div>



                <div class="flex-row-start flex-12">

                    <section class="block-row flex-3">

                        <label class="control-label flex-2" style="max-width: 30%;"> {{'MntCash' |
                            i18n:i18nService.currentLanguage}} : <i
                                class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                        <div class="control-input " style="display: flex; max-width: 50%;">
                            <input readonly disabled id="MntCash" maxlength="10" name="MntCash" type="number" min="0" class="form-control-dev input-xs" required [(ngModel)]="MntCash">

                        </div>



                        <br>
                        <label class="control-label flex-2" style="max-width: 30%;">{{'MntPEC' |
                            i18n:i18nService.currentLanguage}} :<i
                                class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                        <div class="control-input " style=" display: flex; max-width: 50%;">
                            <input readonly disabled id="MntPEC" maxlength="10" name="MntPEC" type="number" min="0" class="form-control-dev input-xs" required [(ngModel)]="MntPEC">

                        </div>



                    </section>
                    <section class="block-row flex-3">
                        <label class="control-label flex-20" style="  max-width: 38%;">{{'MntRequiredToPayed' |
                            i18n:i18nService.currentLanguage}} : <i
                                class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                        <div class="control-input " style="display: flex; max-width: 50%;">
                            <input readonly disabled id="MntReqPayed" style="font-weight: bold;color: red;" maxlength="10" name="MntReqPayed" type="number" min="0" class="form-control-dev input-xs" required [(ngModel)]="MntReqPayed">

                        </div>


                        <br>
                        <label class="control-label flex-2" style="max-width: 30%;">{{'MntPayed' |
                            i18n:i18nService.currentLanguage}}:<i
                                class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                        <div class="control-input mntPayed " style="max-width: 55%; ; display: flex;">
                            <input id="MntPayed" maxlength="10" name="MntPayed" type="number" min="0" class="form-control-dev input-xs" required [(ngModel)]="MntPayed">
                        </div>

                    </section>

                    <section class="block-row flex-3">

                        <label class="control-label flex-2" style="max-width: 30%;"> {{'ModeReglement' |
                            i18n:i18nService.currentLanguage}} : <i
                                class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                        <div class="dop control-input " style="display: flex;     justify-content: space-evenly;">
                            <p-dropdown name="modeRegement" [filter]="true" appendTo="body" (onChange)="GetBanqueIfNeed()" [options]="listModeReglementRslt" [(ngModel)]="selectedModeReglement" [style]="{'width':'165px'}" [autoDisplayFirst]="true" placeholder="&nbsp;" #modeReglementInput
                                required [lazy]="true">
                            </p-dropdown>
                        </div>
                        <br>
                        <label class="control-label flex-2" style="max-width: 30%;">{{'Banque' |
                            i18n:i18nService.currentLanguage}} :<i
                                class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                        <div class="dop control-input " style=" display: flex; padding-right: 20px;    justify-content: space-evenly;">
                            <p-dropdown [disabled]="DisBanque" required name="banque" appendTo="body" class="dropdown" [options]="listBanqueRslt" [(ngModel)]="selectedBanque" [style]="{'width':'165px'}" [autoDisplayFirst]="true" placeholder="&nbsp;" [lazy]="true" #BanqueInput>
                            </p-dropdown>
                        </div>



                    </section>
                    <section class="block-row flex-3">
                        <label class="control-label flex-2" style="max-width: 30%;">{{'NumPiece' |
                            i18n:i18nService.currentLanguage}}:<i
                                class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                        <div class="dop control-input " style="padding: 0px 25px 0px 0px ;max-width: 65%; ; display: flex;">
                            <input [disabled]="DisBanque" #NumPieceInput id="numPiece" maxlength="10" name="numPiece" type="text" class="onlyForCentral form-control-dev input-xs" required [(ngModel)]="numPiece">
                        </div>
                    </section>
                </div>
            </fieldset>
        </div>
    </div>


</p-dialog>

<!-- modal primeNG  Delete-->
<p-dialog class="modal-delete" id="ModalDelete" data-backdrop="false" header="Header" [(visible)]="visDelete" styleClass="ModalDelete" [modal]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <h2 class="text-default headerForm"> {{formHeader}}</h2>
    </ng-template>
    <div class="modal-body">
        <form action="" #addForms="ngForm">
            <fieldset class="deleteForms">
                <h4 class="text-delete ">هل أنت متأكد من الحذف ?

                    <button class="btn btn-default save-add-ModalSmall" style="right: 430px;" (click)="DeleteBanque(code)"> <i class="fa-solid fa-circle-check"
                            style="color: #065c00;font-size: 16px; padding-right: 10px;"></i>
                        حذف
                    </button>
                    <button class="btn btn-default cancel-add-ModalSmall" style="right: 520px;" :closable="true" data-dismiss="modal"> <i class="fa-solid fa-circle-xmark"
                            style="color: #9e0000;font-size: 16px; padding-right: 5px;"></i>خروج
                    </button>



                </h4>
            </fieldset>
            <br>
        </form>
    </div>
</p-dialog>
<!-- fin modal primeng  -->





<!-- modal primeNG Print -->
<p-dialog id="ModalPrint" header="Header" [scrollLeft]="true" [closeOnEscape]="true" [(visible)]="visibleModalPrint" data-backdrop="false" [modal]="true" styleClass="ModalPrint" [draggable]="false">


    <ng-template pTemplate="header">
        <h2 class="text-default headerForm"> {{formHeader}}</h2>
        <button style="right: 995px;" class="btn btn-default cancel-add-ModalSmall" :closable="true" data-dismiss="modal" (click)="clearForm() ; CloseModalPrint()"> <i class="fa-solid fa-circle-xmark"
                style="color: #9e0000;font-size: 16px; padding-right: 5px;"></i>خروج
        </button>

    </ng-template>
    <div class="modal-body">
        <div id="pdfContainer"></div>
    </div>

</p-dialog>



<!-- modal  ADD  nv patient -->
<p-dialog id="ModalAddPatient" header="Header" [scrollLeft]="true" #ModalAddPatient [closeOnEscape]="true" [(visible)]="visibleModalAddPatient" data-backdrop="false" [modal]="true" styleClass="ModalAdd" [draggable]="false">


    <ng-template pTemplate="header">
        <h2 class="text-default headerForm"> {{formHeader}}</h2>
        <button class="btn btn-default cancel-add-ModalSmall" :closable="true" data-dismiss="modal" (click)="CloseAddModalRecherche()">
            <i class="fa-solid fa-circle-xmark IconBtnModal" style="color: #9e0000;font-size: 16px;"></i>
            {{'Close' | i18n:i18nService.currentLanguage}}
        </button>
        <button class="btn btn-default save-add-ModalSmall" (click)="PostNewPatient()">
            <i class="fa-solid fa-circle-check IconBtnModal" style="color: #065c00;font-size: 16px; "></i>
            {{'Save' | i18n:i18nService.currentLanguage}}
        </button>
    </ng-template>

    <div class="modal-body">


        <div class="flex-row-start flex-12">
            <fieldset class="flex-12">
                <div class="flex-row-start flex-12">
                    <section class="flex-row-start flex-6 ">
                        <label class="control-label  flex-4" style="width: 25%; "> {{'CodePatient' |
                            i18n:i18nService.currentLanguage}} : <i
                                class="fa-lg fa-fw fa fa-times iconRequired"></i></label>
                        <div class="control-input flex-5-45 ">
                            <input id="CodePatient" maxlength="10" name="CodePatient" type="text" class=" form-control-dev input-xs" #codePatientNewInput required [(ngModel)]="codePatientNew">

                        </div>
                    </section>
                    <section class="flex-row-start flex-6 ">
                        <!-- <p-checkbox [binary]="true" name="actif" [(ngModel)]="actif"value="val3" [label]="LabelActif"></p-checkbox> -->
                    </section>
                </div>
                <div class="flex-row-start flex-12">
                    <section class="flex-row-start flex-6 ">
                        <label class="control-label flex-4 ">{{'NomFullAr' | i18n:i18nService.currentLanguage}} : <i
                                class="fa-lg fa-fw fa fa-times iconRequired"></i></label>
                        <div class="control-input flex-5-45">
                            <input type="text" id="NomFullArNew" maxlength="200" name="NomFullArNew" class=" form-control-dev input-xs" #NomFullArNewInput required [(ngModel)]="NomFullArNew">
                        </div>
                    </section>
                    <section class="flex-row-start flex-6">
                        <label class="control-label  flex-4  "> {{'NomFullLt' | i18n:i18nService.currentLanguage}} :
                            <i class="fa-lg fa-fw fa fa-times iconRequired"></i></label>
                        <div class="control-input flex-5-45 ">
                            <input type="text" id="NomFullLtNew" maxlength="200" name="NomFullLtNew" class=" form-control-dev input-xs" #NomFullLtNewInput required [(ngModel)]="NomFullLtNew">


                        </div>
                    </section>

                </div>

                <div class="flex-row-start flex-12">
                    <section class="flex-row-start flex-6 ">
                        <label class="control-label flex-4"> {{'DateNaiss' |
                            i18n:i18nService.currentLanguage}} :<i
                                class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                        <div class="control-input flex-60" style="padding: 0px ; display: flex;">

                            <p-calendar (keyup.enter)="transformDateFormatNew()" (onInput)="formatInputNew($event)" (onBlur)="transformDateFormatNew()" (onChange)="transformDateFormatNew()" (onSelect)="transformDateFormatNew()" [ngStyle]="{'width':'78%' , 'margin-right': '3px'}"
                                [showButtonBar]="true" appendTo="body" [(ngModel)]="dateNaissanceNew" [iconDisplay]="'input'" [readonlyInput]="false" [showIcon]="true" inputId="icondisplay" />

                        </div>

                    </section>
                    <section class="flex-row-start flex-6">
                        <label class="control-label  flex-4" style="width: 25%; "> {{'NumTel' |
                            i18n:i18nService.currentLanguage}} : <i
                                class="fa-lg fa-fw fa fa-times iconRequired"></i></label>
                        <div class="control-input flex-5-45 ">
                            <input id="NumTel" [(ngModel)]="TelPatientNew" maxlength="10" name="NumTel" type="number" class="form-control-dev input-xs" #TelPatientNewInput required>
                        </div>
                    </section>
                </div>
            </fieldset>
        </div>
        <div class="flex-row-start flex-12">


            <!-- <fieldset class="flex-12">
                <div class="radio-group">
                    <div class="radio-item">
                        <input type="radio" id="Encours" name="selectedValue" [value]=1 [(ngModel)]="selectedValue" (change)="GetIfNeedSoc()">
                        <label for="Encours" [class.bold-label]="selectedValue == 1">نقدي</label>
                    </div>

                    <div class="radio-item">
                        <input type="radio" id="Valider" name="selectedValue" [value]=2 [(ngModel)]="selectedValue" (change)="GetIfNeedSoc()">
                        <label for="Valider" [class.bold-label]="selectedValue == 2">جهة</label>
                    </div>
                </div>
            </fieldset> -->

            <fieldset class="flex-row-start flex-12">
                <label class="control-label flex-2" style="padding-top: 3px; display: flex;align-items: center;">
                    {{'SourceDeFinancement' | i18n:i18nService.currentLanguage}} :<i
                        class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                <div class=" flex-row-start flex-3 radio-group">

                    <div class="radio-item">
                        <input type="radio" id="Cash" name="selectedValueNew" [value]=1 [(ngModel)]="selectedValueNew" (change)="GetIfNeedSocNew()">
                        <label for="Cash" [class.bold-label]="selectedValueNew == 1">نقدي</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="PEC" name="selectedValueNew" [value]=2 [(ngModel)]="selectedValueNew" (change)="GetIfNeedSocNew()">
                        <label for="PEC" [class.bold-label]="selectedValueNew == 2">جهة</label>
                    </div>
                </div>
                <div *ngIf="VisiblePEC" class="flex-row-start flex-9" style="justify-content: space-between;">
                    <label class="control-label flex-2" style="max-width: 15%;">الجهة : <i
                            class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                    <div class="dop control-input " style="display: flex;">
                        <p-dropdown name="Soceite" [filter]="true" appendTo="body" (onChange)="GetConventionByCodeSocieteSelected(this.selectedSociete.code)" [options]="ListSocieteRslt" [(ngModel)]="selectedSocieteNew" [style]="{'width':'150px'}" [autoDisplayFirst]="true" placeholder="&nbsp;"
                            [required]="true" [lazy]="true" #Soceite="ngModel">
                        </p-dropdown>
                    </div>

                    <label class="control-label flex-2" style="max-width: 15%;">الإتفاقية : <i
                            class="fa-lg fa-fw fa fa-times icon-required"></i></label>
                    <div class="dop control-input " style="display: flex;">
                        <p-dropdown name="Convention" [filter]="true" appendTo="body" (onChange)="GetDetailsConventionSelected()" [options]="ListConventionRslt" [(ngModel)]="selectedConventionNew" [style]="{'width':'150px'}" [autoDisplayFirst]="true" placeholder="&nbsp;" [required]="true"
                            [lazy]="true" #Convention="ngModel">
                        </p-dropdown>
                    </div>
                </div>
            </fieldset>

        </div>





    </div>

</p-dialog>