<div class="container">
    <div class="row text-center">
        <h2> المصروفات</h2>
        <div id="menu-box">
            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_depense/facture_fournisseur']">
                <div class="container-block">
                    <div class="block2">
                        <span> فاتورة مورد</span>
                        <p> فاتورة مورد...</p>

                    </div>
                    <div class="block1">
                        <i class="fa-solid fa-receipt"></i>
                    </div>

                    <div class="block3">
                        <p-tag title="warningMessageFactFrs" icon="pi pi-exclamation-triangle" severity="warning" value="Warning" />
                    </div>

                </div>
            </div>
            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_depense/reglement_facture_fournisseur']">
                <div class="container-block">
                    <div class="block2">
                        <span>سداد الموردين</span>
                        <p> سداد الموردين...</p>
                    </div>
                    <div class="block1">
                        <i class="fa-solid fa-file-invoice-dollar"></i>
                    </div>
                    <div class="block3">
                        <p-tag title="warningMessageRegFactFrs" icon="pi pi-exclamation-triangle" severity="warning" value="Warning" />
                    </div>
                </div>
            </div>
            <!-- <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_depense/depense_divers']">
          <div class="container-block">
            <div class="block2">
              <span>مصروفات نثرية</span>
              <p>مصروفات نثرية...</p>
            </div>
            <div class="block1">
                <i class="fa-solid fa-window-restore"></i>
            </div>
  
            <div *ngIf="HaveFactureDiversNonApprouver" class="block3"> 
              <p-tag icon="pi pi-exclamation-triangle" severity="warning" value="Warning" />  
            </div>
          </div>
        </div> -->
            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_depense/facture_prestation']">
                <div class="container-block">

                    <div class="block2">
                        <span>فواتير خدمي</span>

                        <p>فواتير خدمي...</p>
                    </div>
                    <div class="block1">
                        <i class="fa-solid fa-file-invoice"></i>
                    </div>
                    <div class="block3">
                        <p-tag icon="pi pi-exclamation-triangle" severity="warning" value="Warning" />
                    </div>
                </div>
            </div>



            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_depense/reglement_facture_prestation']">
                <div class="container-block">

                    <div class="block2">
                        <span> سداد الفواتير الخدمية</span>
                        <p> سداد الفواتير الخدمية...</p>
                    </div>
                    <div class="block1">
                        <i class="fa-solid fa-money-check-dollar"></i>
                    </div>

                    <div class="block3">
                        <p-tag icon="pi pi-exclamation-triangle" severity="warning" value="Warning" />
                    </div>
                </div>
            </div>
            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_depense/edition']">
                <div class="container-block">

                    <div class="block2">
                        <span>البيانات  </span>
                        <p>البيانات ...</p>
                    </div>
                    <div class="block1">
                        <i class="fa-solid fa-print"></i>
                    </div>
                </div>
            </div>
            <!--<div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_parametrage/banque']">
          <div class="container-block">
           
            <div class="block2">
              <span>المصارف</span>
              <p> المصارف...</p>
            </div>
            <div class="block1">
              <i class="fa-solid fa-landmark"></i>
            </div>
          </div>
        </div>
  
        <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_parametrage/mode_reglement']">
          <div class="container-block">
           
            <div class="block2">
              <span>طريقة الدفع</span>
              <p> طريقة الدفع...</p>
            </div>
            <div class="block1">
              <i class="fa-solid fa-money-bill-wave"></i>
            </div>
          </div>
        </div>
  
  
        <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_parametrage/taux_change']">
          <div class="container-block">
           
            <div class="block2">
              <span>سعر الصرف </span>
              <p>سعر الصرف...</p>
            </div>
            <div class="block1">
              <i class="fa-solid fa-file-invoice-dollar"></i>
            </div>
          </div>
        </div> -->


        </div>
    </div>
</div>

<!-- <div *ngIf="showCaisse">
    <router-outlet (activate)="closeCaisse()"></router-outlet> 
  </div> -->