<div class="container">
    <div class="row text-center">
        <h2 class="TitleMenu"> {{'Setting' | i18nForMenu:i18nService.currentLanguage}} </h2>
        <div id="menu-box">
            <div id="item" class="col-sm-6 col-md-3 myDIV ">
                <div class="container-block ">
                    <div class="block1">
                        <i class='bx bx-first-aid' [ngClass]="{ 'MenuOpened': IsOpened }"></i>
                    </div>
                    <div class="block2  ">
                        <span class="FloatRight " [ngClass]="{ 'MenuOpened': IsOpened }">  {{'Prestation' | i18nForMenu:i18nService.currentLanguage}}  </span>
                        <i class='FloatLeft bx bx-dots-vertical-rounded MenuMoreBtn' [ngClass]="{ 'MenuOpened': IsOpened }" (click)="onOpened()" mat-button [matMenuTriggerFor]="menu1"></i>

                        <mat-menu #menu1="matMenu" class="div-panel" [overlapTrigger]="false" (closed)="onClosed()">
                            <button mat-menu-item class="bold-menu-item" [routerLink]="['/menu_parametarge/prestation']"> <i class='bx bx-first-aid Mn' ></i>     <span style="font-weight: bold;">{{'Prestation' | i18nForMenu:i18nService.currentLanguage}}</span>    </button>
                            <button mat-menu-item class="bold-menu-item" [routerLink]="['/menu_parametarge/famille_prestation']"> <i class='bx bx-food-menu Mn'></i> <span style="font-weight: bold;">{{'FamillePrestation' | i18nForMenu:i18nService.currentLanguage}}</span> </button>
                            <button mat-menu-item class="bold-menu-item" [routerLink]="['/menu_parametarge/sous_famille_prestation']"><i class='bx bx-category Mn'></i> <span style="font-weight: bold;"> {{'SousFamillePrestation' | i18nForMenu:i18nService.currentLanguage}} </span></button>
                            <button mat-menu-item class="bold-menu-item" [routerLink]="['/menu_parametarge/famille_facturation']"><i class='bx bx-detail Mn'></i> <span style="font-weight: bold;"> {{'FamilleFacturation' | i18nForMenu:i18nService.currentLanguage}} </span></button>
                        </mat-menu>
                    </div>
                </div>
            </div>
            <div id="item" class="col-sm-6 col-md-3 myDIV ">
                <div class="container-block ">
                    <div class="block1">
                        <i class='bx bx-bed' [ngClass]="{ 'MenuOpened': IsOpened2 }"></i>
                    </div>
                    <div class="block2 ">
                        <span class="FloatRight" [ngClass]="{ 'MenuOpened': IsOpened2 }">  {{'Operation' | i18nForMenu:i18nService.currentLanguage}}  </span>
                        <i class='FloatLeft bx bx-dots-vertical-rounded MenuMoreBtn' [ngClass]="{ 'MenuOpened': IsOpened2 }" (click)="onOpened2()" mat-button [matMenuTriggerFor]="menu2"></i>
                        <mat-menu #menu2="matMenu" class="div-panel" (closed)="onClosed2()">
                            <button mat-menu-item [routerLink]="['/menu_parametarge/operation']"> <i class='bx bx-health Mn'></i> <span style="font-weight: bold;"> {{'Operation' | i18nForMenu:i18nService.currentLanguage}} </span> </button>
                            <button mat-menu-item [routerLink]="['/menu_parametarge/type_operation']"> <i class='bx bx-align-middle Mn'></i> <span style="font-weight: bold;">{{'TypeOperation' | i18nForMenu:i18nService.currentLanguage}}</span> </button>
                            <button mat-menu-item [routerLink]="['/menu_parametarge/famille_operation']"> <i class='bx bx-link Mn'></i> <span style="font-weight: bold;"> {{'FamilleOperation' | i18nForMenu:i18nService.currentLanguage}} </span></button>
                            <button mat-menu-item [routerLink]="['/menu_parametarge/bloc_operation']"> <i class='bx bx-category Mn'></i> <span style="font-weight: bold;"> {{'BlocOperation' | i18nForMenu:i18nService.currentLanguage}} </span> </button>
                        </mat-menu>
                    </div>
                </div>
            </div>
            <div id="item" class="col-sm-6 col-md-3 myDIV ">
                <div class="container-block ">
                    <div class="block1">
                        <!-- <i class='bx bx-group' ></i> -->
                        <i class="fa-solid fa-user-doctor" [ngClass]="{ 'MenuOpened': IsOpened3 }"></i>
                    </div>
                    <div class="block2 ">
                        <span class="FloatRight" [ngClass]="{ 'MenuOpened': IsOpened3 }">  {{'Medecin' | i18nForMenu:i18nService.currentLanguage}}  </span>
                        <i class='FloatLeft bx bx-dots-vertical-rounded MenuMoreBtn' [ngClass]="{ 'MenuOpened': IsOpened3 }" (click)="onOpened3()" mat-button [matMenuTriggerFor]="menu3"></i>

                        <mat-menu #menu3="matMenu" class="div-panel" (closed)="onClosed3()">
                            <button mat-menu-item [routerLink]="['/menu_parametarge/medecin']"> <i class='fa-solid fa-user-doctor Mn'></i>  <span style="font-weight: bold;"> {{'Medecin' | i18nForMenu:i18nService.currentLanguage}} </span>  </button>
                            <button mat-menu-item [routerLink]="['/menu_parametarge/type_intervenant']"> <i class='bx bx-menu-alt-left Mn'></i> <span style="font-weight: bold;"> {{'TypeIntervenants' | i18nForMenu:i18nService.currentLanguage}}  </span> </button>
                            <button mat-menu-item [routerLink]="['/menu_parametarge/specialite_medecin']"> <i class='bx bx-group Mn'></i> <span style="font-weight: bold;">  {{'SpecialiteMedecin' | i18nForMenu:i18nService.currentLanguage}}  </span></button>
                            <button mat-menu-item [routerLink]="['/menu_parametarge/cabinet']"> <i class='bx bxs-door-open Mn'></i> <span style="font-weight: bold;">  {{'Cabinet' | i18nForMenu:i18nService.currentLanguage}} </span></button>
                            <button mat-menu-item [routerLink]="['/menu_parametarge/specialite_cabinet']"> <i class='bx bxs-door-open Mn'></i> <span style="font-weight: bold;">  {{'SpecialiteCabinet' | i18nForMenu:i18nService.currentLanguage}} </span> </button>
                        </mat-menu>
                    </div>
                </div>
            </div>



            <div id="item" class="col-sm-6 col-md-3 myDIV ">
                <div class="container-block ">
                    <div class="block1">
                        <i class='bx bxs-arch' [ngClass]="{ 'MenuOpened': IsOpened4 }"></i>
                    </div>
                    <div class="block2 ">
                        <span class="FloatRight" [ngClass]="{ 'MenuOpened': IsOpened4 }">  {{'Societe' | i18nForMenu:i18nService.currentLanguage}}  </span>
                        <i class='FloatLeft bx bx-dots-vertical-rounded MenuMoreBtn' [ngClass]="{ 'MenuOpened': IsOpened4 }" (click)="onOpened4()" mat-button [matMenuTriggerFor]="menu4"></i>

                        <mat-menu #menu4="matMenu" class="div-panel" (closed)="onClosed4()">
                            <button mat-menu-item [routerLink]="['/menu_parametarge/convention']"><i class='bx bxl-algolia Mn'></i> <span style="font-weight: bold;"> {{'Convention' | i18nForMenu:i18nService.currentLanguage}} </span>  </button>
                            <button mat-menu-item [routerLink]="['/menu_parametarge/forfait']"> <mat-icon>settings_input_composite</mat-icon> <span style="font-weight: bold;"> {{'Forfait' | i18nForMenu:i18nService.currentLanguage}} </span> </button>
                            <button mat-menu-item [routerLink]="['/menu_parametarge/societe']"> <i class='bx bxs-arch Mn'></i> <span style="font-weight: bold;"> {{'Societe' | i18nForMenu:i18nService.currentLanguage}} </span></button>
                            <button mat-menu-item [routerLink]="['/menu_parametarge/list_couverture']"> <i class='bx bx-shield-quarter Mn'></i> <span style="font-weight: bold;">{{'ListCouverture' | i18nForMenu:i18nService.currentLanguage}} </span></button>
                        </mat-menu>
                    </div>
                </div>
            </div>
            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_parametarge/price_list']">
                <div class="container-block">
                    <div class="block1">
                        <i class='bx bx-file'></i>
                    </div>
                    <div class="block2">
                        <span class="FloatRight">  {{'PriceList' | i18nForMenu:i18nService.currentLanguage}}  </span>
                    </div>
                </div>
            </div>



            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_parametarge/responsable_remise']">
                <div class="container-block">
                    <div class="block1">
                        <i class='bx bx-user'></i>
                    </div>
                    <div class="block2">
                        <span class="FloatRight">  {{'Responsable_remise' | i18nForMenu:i18nService.currentLanguage}}  </span>
                    </div>
                </div>
            </div>
            <div id="item" class="col-sm-6 col-md-3 myDIV ">
                <div class="container-block ">
                    <div class="block1">
                        <i class='bx bx-transfer-alt' [ngClass]="{ 'MenuOpened': IsOpened5 }"></i>
                    </div>
                    <div class="block2 ">
                        <span class="FloatRight" [ngClass]="{ 'MenuOpened': IsOpened5 }">  {{'Tresorerie' | i18nForMenu:i18nService.currentLanguage}}  </span>
                        <!-- <mat-icon class="FloatLeft" [ngClass]="{ 'MenuOpened': IsOpened5 }" (click)="onOpened5()" mat-button [matMenuTriggerFor]="menu5">more_vert</mat-icon> -->
                        <i class='FloatLeft bx bx-dots-vertical-rounded MenuMoreBtn' [ngClass]="{ 'MenuOpened': IsOpened5 }" (click)="onOpened5()" mat-button [matMenuTriggerFor]="menu5"></i>

                        <mat-menu #menu5="matMenu" class="div-panel" (closed)="onClosed5()">
                            <button mat-menu-item [routerLink]="['/menu_parametarge/caisse']"> <i class='bx bx-list-ul Mn'></i> <span style="font-weight: bold;"> {{'Caisse' | i18nForMenu:i18nService.currentLanguage}} </span> </button>
                            <button mat-menu-item [routerLink]="['/menu_parametarge/fournisseur']"> <i class='bx bxs-user-badge Mn'></i> <span style="font-weight: bold;"> {{'Fournisseur' | i18nForMenu:i18nService.currentLanguage}} </span> </button>
                            <button mat-menu-item [routerLink]="['/menu_parametarge/banque']"> <i class='bx bxs-bank Mn'></i> <span style="font-weight: bold;">  {{'Banques' | i18nForMenu:i18nService.currentLanguage}} </span> </button>
                            <button mat-menu-item [routerLink]="['/menu_parametarge/mode_reglement']"> <i class='bx bx-credit-card Mn'></i> <span style="font-weight: bold;"> {{'ModeReglement' | i18nForMenu:i18nService.currentLanguage}} </span>  </button>
                        </mat-menu>
                    </div>
                </div>
            </div>


            <div id="item" class="col-sm-6 col-md-3">
                <div class="container-block">
                    <div class="block1">
                        <i class='bx bxs-cog' [ngClass]="{ 'MenuOpened': IsOpened6 }"></i>
                    </div>
                    <div class="block2 ">
                        <span class="FloatRight" [ngClass]="{ 'MenuOpened': IsOpened6 }">  {{'SettingGeneral' | i18nForMenu:i18nService.currentLanguage}}  </span>
                        <!-- <mat-icon class="FloatLeft" [ngClass]="{ 'MenuOpened': IsOpened6 }" (click)="onOpened6()" mat-button [matMenuTriggerFor]="menu6">more_vert</mat-icon> -->
                        <i class='FloatLeft bx bx-dots-vertical-rounded MenuMoreBtn' [ngClass]="{ 'MenuOpened': IsOpened6 }" (click)="onOpened6()" mat-button [matMenuTriggerFor]="menu6"></i>

                        <mat-menu #menu6="matMenu" class="div-panel" (closed)="onClosed6()">
                            <button mat-menu-item [routerLink]="['/menu_parametarge/ville']">  <i class='bx bx-map Mn'></i>  <span style="font-weight: bold;">  {{'Ville' | i18nForMenu:i18nService.currentLanguage}} </span>  </button>
                            <button mat-menu-item [routerLink]="['/menu_parametarge/nationalite']">  <i class='bx bx-map-pin Mn'></i>   <span style="font-weight: bold;"> {{'Nationalité' | i18nForMenu:i18nService.currentLanguage}} </span> </button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>